[submodule "source/components/telnet/libtelnet"]
	path = source/components/telnet/libtelnet
	url = https://github.com/seanmiddleditch/libtelnet
	branch = develop
[submodule "source/components/esp-dsp"]
	path = source/components/esp-dsp
	url = https://github.com/philippe44/esp-dsp.git
[submodule "source/components/wifi-manager/UML-State-Machine-in-C"]
	path = source/components/wifi-manager/UML-State-Machine-in-C
	url = https://github.com/kiishor/UML-State-Machine-in-C
[submodule "source/components/wifi-manager/webapp/src/bootswatch"]
	path = source/components/wifi-manager/webapp/src/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "source/components/spotify/cspot/bell/external/nanopb"]
	path = source/components/spotify/cspot/bell/external/nanopb
	url = https://github.com/nanopb/nanopb
